html{
    margin-top: 0px !important;
}

header{
    display: flex !important;
    height: 80px;
    justify-content: space-between;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-menu ul{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 150px;
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.header-menu ul li a{
    margin-left: 50px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.footer-content ul{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer-content ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.footer-content{
    border-top: 1px solid rgba(0, 0, 0, 1);
    height: 40px;
}

/* MODALE */
/* Modal Header */
.modal-header {
    padding: 15px 0;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 597px;
    height: 769px;
    border: 5px solid rgba(0, 0, 0, 1);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.wpcf7{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
[name="your-name"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}

[name="your-email"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}
[name="textarea-662"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}

[name="your-message"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 210px;
}

p .wpcf7-submit{
    height: 50px !important;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 263px;
    border-radius: 2px;
    border: 2px rgba(0, 0, 0, 0.02);
    background: rgba(216, 216, 216, 1);

}