html{
    margin-top: 0px !important;
}

body{
    margin: 0;
}

header{
    display: flex !important;
    height: 80px;
    justify-content: space-between;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-menu ul{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 150px;
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.header-menu ul li a{
    margin-left: 50px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.footer-content ul{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer-content ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.footer-content{
    border-top: 1px solid rgba(0, 0, 0, 1);
    height: 40px;
}

/* MODALE */
/* Modal Header */
.modal-header {
    padding: 15px 0;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 597px;
    height: 769px;
    border: 5px solid rgba(0, 0, 0, 1);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.wpcf7{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}  
[name="your-name"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}

[name="your-email"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}
[name="textarea-662"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}

[name="your-message"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 210px;
}

p .wpcf7-submit{
    height: 50px !important;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 263px;
    border-radius: 2px;
    border: 2px rgba(0, 0, 0, 0.02);
    background: rgba(216, 216, 216, 1);
}


/* Police Google Fonts */
@font-face {
    font-family: 'Space Mono';
    src: url('assets/fonts/Space_Mono/SpaceMono-Regular.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('assets/fonts/Space_Mono/SpaceMono-Italic.woff2') format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('assets/fonts/Space_Mono/SpaceMono-BoldItalic.woff2') format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Page INFOS */
#primary{
    padding: 0;
}

#content .site-main article img{
    width: 564px;
    height: 495px;
    object-fit: cover;
    margin-right: 2vh;
}

#content .site-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#primary .site-main .entry-content .description{
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

#primary .site-main .entry-content .image{
    width: calc(50% - 30px);
    margin-bottom: 20px;
    margin-right: 20px;
}

#primary .site-main .entry-content{
    display: flex;
    align-items: flex-end;
}

.entry-title{
    font-family: 'Space Mono', monospace;
    font-size: 66px;
    font-weight: 400;
    line-height: 58px;
    font-style: italic;
    text-transform: uppercase;
    width: 50%;
}

.entry-header{
    padding-bottom: 100px;
}

.champs{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.taxonomies{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.bloc3{
    height: calc(118px - 36px);
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.bloc3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.ctct-bouton {
    width: 272px;
    Height: 50px;
    padding: 8px 15px;
    background-color: rgba(216, 216, 216, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 12px; 
    border: none; 
    border-radius: 2px; 
    cursor: pointer; 
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.ctct-bouton:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.apparenté p{
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 80px 0 50px 0;
}

.apparenté{
    margin-left: 20px;
    border-top: 1px solid rgba(0, 0, 0, 1);
}

.deuxphotos img{
    width: 564px;
    height: 495px;
    object-fit: cover;
    margin-right: 2vh;
}

.deuxphotos{
    display: flex;
    justify-content: center;
}

.ttes-photos {
    width: 272px;
    Height: 50px;
    padding: 8px 15px;
    background-color: rgba(216, 216, 216, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 12px; 
    border: none; 
    border-radius: 2px; 
    cursor: pointer; 
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.ttes-photos:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    }

.bouton{
    display: flex;
    justify-content: center;
    margin: 50px 0 80px 0; 
}

/* HERO HEADER */
#hero-content .site-main article img{
    width: 1440px;
    height: 962px;
    object-fit: cover;
}

#hero-content .site-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-title h2{
    font-family: 'Space Mono', monospace;
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    line-height: 142px;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 1);
    -webkit-text-fill-color: transparent; 
    white-space: nowrap; /* Empêche le texte de se replier sur plusieurs lignes */
}


/* charger plus */
.photos{
    margin: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0;
}

.photos article img {
    width: 564px;
    height: 495px;
    object-fit: cover;
    margin-right: 2vh;
}

.photos-load-button{
    width: 272px;
    Height: 50px;
    padding: 8px 15px;
    background-color: rgba(216, 216, 216, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 12px; 
    border: none; 
    border-radius: 2px; 
    cursor: pointer; 
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.photos-load-button:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.js-load-photos{
    display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
    }


    
/*@media (max-width: 1024px) */