html{
    margin-top: 0px !important;
}

body{
    margin: 0;
    overflow-x: hidden;
}

header{
    display: flex !important;
    height: 80px;
    justify-content: space-between;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-menu ul{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 150px;
    white-space: nowrap;
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#logo img{
    width: 216px;
    height: 14px;
}

.header-menu ul li a{
    margin-left: 50px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.footer-content ul{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer-content ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.footer-content{
    border-top: 1px solid rgba(0, 0, 0, 1);
    height: 40px;
}

/* MODALE */
/* Modal Header */

#ContactModal .modal-header {
    padding: 15px 0;
}

/* Modal Content */
#ContactModal .modal-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /* -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s; 
    animation-name: animatetop;
    animation-duration: 0.4s; */
    width: 597px;
    height: 769px;
    border: 5px solid rgba(0, 0, 0, 1);
    opacity: 1;
    z-index: 1000;
}

 /* CONTact */
 .contact-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}
.wpcf7{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}  
[name="your-name"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}

[name="your-email"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}
[name="textarea-662"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 40px;
}

[name="your-message"]{
    border: 1px solid rgba(184, 187, 194, 1);
    border-radius: 8px;
    width: 263px;
    height: 210px;
}

p .wpcf7-submit{
    height: 50px !important;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 263px;
    border-radius: 2px;
    border: 2px rgba(0, 0, 0, 0.02);
    background: rgba(216, 216, 216, 1);
}


/* Police Google Fonts */
@font-face {
    font-family: 'Space Mono';
    src: url('assets/fonts/Space_Mono/SpaceMono-Regular.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('assets/fonts/Space_Mono/SpaceMono-Italic.woff2') format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('assets/fonts/Space_Mono/SpaceMono-BoldItalic.woff2') format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Page INFOS */
#primary{
    padding: 0;
}

#content .site-main article{
    object-fit: cover;
    margin-right: 2vh;
}

#content .site-main article img{

    margin-right: 0;
}


#content .site-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#primary .site-main .entry-content .description{
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

#primary .site-main .entry-content .image{
    width: calc(50% - 30px);
    margin-bottom: 20px;
    margin-right: 20px;
}

#primary .site-main .entry-content{
    display: flex;
    align-items: flex-end;
}

.entry-title{
    font-family: 'Space Mono', monospace;
    font-size: 66px;
    font-weight: 400;
    line-height: 58px;
    font-style: italic;
    text-transform: uppercase;
    width: 50%;
}

.entry-header{
    padding-bottom: 100px;
}

.champs{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.taxonomies{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.bloc{
    display: flex;
    justify-content: space-between;
}
.bloc3{
    height: calc(118px - 36px);
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.bloc3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.ctct-bouton {
    width: 272px;
    Height: 50px;
    padding: 8px 15px;
    background-color: rgba(216, 216, 216, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 12px; 
    border: none; 
    border-radius: 2px; 
    cursor: pointer; 
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.ctct-bouton:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.apparenté p{
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 80px 0 50px 0;
}

.apparenté{
    margin-left: 20px;
    border-top: 1px solid rgba(0, 0, 0, 1);
}

.deuxphotos img{
    width: 564px;
    height: 495px;
    object-fit: cover;
    /* margin-right: 2vh; */
}

.deuxphotos{
    display: flex;
    justify-content: center;
}

.ttes-photos {
    width: 272px;
    Height: 50px;
    padding: 8px 15px;
    background-color: rgba(216, 216, 216, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 12px; 
    border: none; 
    border-radius: 2px; 
    cursor: pointer; 
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.ttes-photos:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    }

.bouton{
    display: flex;
    justify-content: center;
    margin: 50px 0 80px 0; 
}

/* HERO HEADER */
#hero-content .site-main article img{
    width: 1440px;
    height: 962px;
    object-fit: cover;
}

#hero-content .site-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-title h2{
    font-family: 'Space Mono', monospace;
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    line-height: 142px;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 1);
    -webkit-text-fill-color: transparent; 
    white-space: nowrap; /* Empêche le texte de se replier sur plusieurs lignes */
}


/* charger plus */
.photos{
    margin: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0;
}

.photos article{
    margin-right: 2vh
}


.photos article img {
    width: 564px;
    height: 495px;
    object-fit: cover;
}

.photos-load-button{
    width: 272px;
    Height: 50px;
    padding: 8px 15px;
    background-color: rgba(216, 216, 216, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 12px; 
    border: none; 
    border-radius: 2px; 
    cursor: pointer; 
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.photos-load-button:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.js-load-photos{
    display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
    }
/* FILTRES */
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images img{
    width: 564px;
    height: 495px;
    object-fit: cover;
}

.images article{
    margin-right: 14px;
    margin-bottom: 8px;
}

.image{
    margin-bottom: 2vh;
}

 /* #filter-container {
    cursor: pointer;
    align-items: center;
    width: 260px;
    height: 42px;
    border-radius: 8px;
    border: 1px solid rgba(184, 187, 194, 1);
    margin-right: 30px;
    display: flex;
} */

/* #filter-category, #filter-format, #filter-trier_par{
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    cursor: inherit;
    appearance: none;
    margin-left: 20px;
}  */

/* #filter-container::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: rgba(49, 49, 68, 1);
    clip-path: polygon(0 0, 50% 100%, 100% 0); 
    margin-left: auto;
    margin-right: 20px;
} */

.filtres{
    display: flex;
    margin: 80px 20px 50px 20px;
}

#filter-category, #filter-format, #filter-trier_par{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 8px;
    height: 42px;
    width: 260px;
    padding-left: 20px;
} 

.trier{
    margin-left: auto;
}

#filter-container option:hover {
    background-color: rgba(255, 214, 214, 1);
}

#filter-container option:focus {
    background-color: rgba(254, 88, 88, 1);
}

#filter-container option:active {
    background-color: rgba(224, 0, 0, 1);
}

/* .image-filtre{
    margin:1vh 1vh;
} */

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent à 80% */
    opacity: 0;
    /* padding: 10px; */
}

.entry-content:hover .image-overlay {
    opacity: 1;

}
/* LIGHTBOX */
.lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2; 
    width: 100%;
    height: 100%;
    transition: opacity .3s;
}

.lightbox__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 50px;
  }

.lightbox__next{
    border: none;
    background: url(../montheme/assets/images/arrow-nxt.svg) center center / 93px 18px no-repeat;
    width: 93px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 20px;
    margin-top: -14px;
    z-index: 11;
    text-indent: -3000px;
    cursor: pointer;
    display: block;
    transition: transform 0.3s;
    color:white;
  }

.lightbox__next:hover{
    background: url(../montheme/assets/images/arrow-nxt-hover.svg) center center / 93px 18px no-repeat;
}

.lightbox__prev{
    border: none;
    background: url(../montheme/assets/images/arrow-prv.svg) center center / 93px 18px no-repeat;
    width: 93px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 20px !important;
    margin-top: -14px;
    z-index: 11;
    text-indent: -3000px;
    cursor: pointer;
    display: block;
    transition: transform 0.3s;
    right: auto;
    left: 0;    
  }

.lightbox__prev:hover{
    background: url(../montheme/assets/images/arrow-prv-hover.svg) center center / 93px 18px no-repeat;
}

.lightbox__close{
    width: 23px;
    height: 23px;
    border: none;
    background: url(../montheme/assets/images/close.svg) center center / 23px 23px no-repeat transparent;
    position: fixed;
    text-indent: -3000px;
    top: 50px;
    right: 50px;
    z-index: 12;
    cursor: pointer;
}

.lightbox__container img{
    max-width: 85%;
    height: auto;
  }

.lightbox__container {
    margin: 0 100px ;
  }

.lightbox .fadeOut{
    opacity: 0;
}

/* Icones */
.entry-content {
    position: relative;
}

.fa-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity:0;
    display: none;
}


.fa-solid {
    position: absolute;
    top: 5%;
    right: 0;
    transform: translate(-50%, -50%);
    color: white;
    opacity:0;
    z-index: 22;
    width: 30px;
    height: 30px;
    background-color: black;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.images figure{
    position: relative;
    display: inline-block; 
    padding: 10px;
    margin: 0;
}
.images figure:hover::after {
    content: ""; 
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.5); 
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; /* Set the overlay above other elements */
  }

/* Styles for the modal content */
#openModalIcon {
  z-index: 1; 
  cursor: pointer;
}

.categorie{
    color: white;
    z-index:1;
    position: absolute;
    top: 87%;
    right: 3%;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;   
    text-transform: uppercase; 
}
.reference{
    color: white;
    z-index:1;
    position: absolute;
    top: 87%;
    left: 3%;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;  
}
.cat-ref{
    opacity:0;
    display: none;
}
.main-navigation{
    display: none;
}
/* NAVIGATION PAGE SINGLE */
.bloc31{
    position: relative;
    margin-right: 20px;
}
.navigation-arrows {
    display: flex;
    flex-direction: column;
}
.nav-next{
    background: url(../montheme/assets/images/nav-next.svg) center center / 93px 18px no-repeat;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 30%;
    position: absolute;
    cursor: pointer;
    transform: scale(0.5);
  }
.nav-prev{
    background: url(../montheme/assets/images/nav-prev.svg) center center / 93px 18px no-repeat;
    width: 100%;
    height: 100%;
    top: 30%;
    left: -35%;
    position: absolute;
    cursor: pointer;
    transform: scale(0.5);
}
.petite-img img{
    position: relative;
    width: 81px;
    height: 71px;
    object-fit: cover;
    top: -20px;
}
.nav-next img{
    display: flex;
}

/* MOBIILE 767.98px */
@media only screen and (max-width: 768px) { 
    /* HERO */
    #hero-content .site-main article img {
        height: 253px;
        object-fit: cover;
    }
    .image-title h2 {
        font-family: 'Space Mono', monospace;
        font-size: 27.59px;
        font-style: italic;
        font-weight: 700;
        line-height: 40.86px;
    }
    .images img {
        width: 317.66px;
        height: 278.8px;
        object-fit: cover;
    }
    .photos article img {
        width: 317.66px;
        height: 278.8px;
        object-fit: cover;
    }
    .photos {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #content .site-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filtres {
        overflow-x: auto;
        margin: 20px 20px 40px 20px;
    }
    #filter-category, #filter-format, #filter-trier_par {
        width: 270px;
        height: 43px;
    }
    .footer-content ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 208px ;
        padding-left: 0px;
    }
    .header-menu {
        display: none; /* Par défaut, le bouton est caché */
        cursor: pointer;
    }

    #logo img{
        width: 138px;
        height: 9px;
    }
    
    /* MENU BURGER */
    .main-navigation{
        margin-right: 50px;
    }
    .menu-toggle {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    #menu-items {
        display: none; /* Cache les éléments de menu par défaut */
        position: fixed;
        opacity: 0 !important;
        background-color: #E00000;
        width: 100%;
        height: 3200px;
        z-index: 99 !important;
        padding:0;
        top: 80px;
        left: 0%;
    }

    #menu-items.open {
        display: block; /* Afficher le menu lorsque la classe 'open' est présente */
        z-index: 99 !important;;
        opacity: 1 !important;
    }
    #menu-header-1{
        list-style-type: none;
        position: fixed;
        padding:0;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 40%;
        left: 35%;

    }
    #menu-header-1 a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Space Mono', monospace;
        font-size: 44px;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 0em;
        text-transform: uppercase;
    }
    /* fade-in menu */
    .fade-in-menu {
        animation: fade-in 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    #filter-category, #filter-format, #filter-trier_par {
        margin-left: 0;
    }
    .main-navigation{
        display: flex;
        align-items: center;
    }
    #primary .site-main .entry-content {
        display:flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    #primary .site-main .entry-content .image {
        position: relative;
        margin: 0;
        width: 768px;
    }
    #primary .site-main .entry-content .image img {
        object-fit: cover;
    }
    header {
        margin-bottom: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    #primary .site-main .entry-content .description {
        width: 100%;
        margin-top: 1%;
        margin-left: 0%;
        margin-right: -18%;
        transform-origin: top;
        border-bottom: none;
    }
    .entry-header {
        padding-bottom: 0%;
    }
    .entry-title{
        margin: 0;
    }
    .bloc{
        border-top: 1px solid rgba(0, 0, 0, 1);
        margin-bottom: 40px;
    }
    .entry-title {
        font-size: 46px;
        line-height: 48px;
    }
    .image figure {
        display: flex;
        justify-content: center;
    }
    .bloc31{
        display: none;
    }
    .bloc3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apparenté p {
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }
    .apparenté{
        margin: 0;
    }
    .deuxphotos {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .deuxphotos img {
        width: 317.66px;
        height: 278.8px;
        margin :0;
    }
    .ttes-photos {
        margin: 0;
    }
    .bouton {
        margin: 30px 0 40px 0;
    }
    .fa-solid {
        top: 7%;
    }
    .cat-ref div{
        top: 80%;
    }
    /* header { 
        transition: opacity 2.5s ease-in-out; 
    } */
    /* Définissez l'animation de translation */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
            opacity: 1 !important;
        }
        to {
            transform: translateX(0);
            opacity: 1 !important;
        }
    }

    @keyframes slideOut {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }

    header.menu-opening{
        animation-name: slideIn; 
        transition: opacity 0.3s ease; 
        animation-duration: 0.3s;
        opacity: 1;
    }

    header.menu-closing{
        animation-name: slideOut; 
        transition: opacity 0.3s ease; 
        animation-duration: 0.3s;
    }

    #menu-items.menu-opening {
        animation-name: slideIn; 
        transition: opacity 0.3s ease; 
        animation-duration: 0.3s;
        opacity: 1;
    }

    #menu-items.menu-closing{
        animation-name: slideOut; 
        transition: opacity 0.3s ease; 
        animation-duration: 0.3s;
        display: block;
    }

    #menu-header-1.menu-opening{
        animation-name: slideIn; 
        transition: opacity 0.3s ease; 
        animation-duration: 0.3s;
        opacity: 1;
    }
}